<p>Employee Information: </p>
<li>First Name: <%=@employee.first_name%></li>
<li>Last Name: <%=@employee.last_name%></li>
<li>Alias: <%=@employee.alias%></li>
<li>Title: <%=@employee.title%></li>
<li>Office: <%=@employee.office%></li>
<p>Employee Image:</p>
<img src="<%=@employee.img_url%>" alt="Employee Image">
